<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% include 'partials/_stylesheet.html' %}
</head>
<body>

    <main class="main-homepage">

        <!-- Header -->
        {% include 'partials/_navbar.html' %}
        <!-- Content -->
        {% block content %}

        {% endblock content %}
        <!-- Footer -->
        {% include 'partials/_footer.html' %}

    </main>

    {% include 'partials/_script.html' %}
</body>
</html>